<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>io.nathanjones.aws-ssm-connect</string>
	<key>connections</key>
	<dict>
		<key>3DA58D07-585D-466E-A8EC-600DEFC30CD5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>444C5272-40B4-4E31-BC81-89CFDE99A942</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>444C5272-40B4-4E31-BC81-89CFDE99A942</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>604229EE-D4C0-4DAC-A15D-9673F265AD22</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>604229EE-D4C0-4DAC-A15D-9673F265AD22</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6A93F671-6B91-4EA4-B607-70EADBD3A537</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>63CCBC7B-9AC5-44A9-9B58-3EBF757EA04A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DC417B76-64D1-44DB-BFEE-A178745D19F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DDA4944C-EDE5-4345-AA67-1DC25C431BF0</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy Instance ID</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6A93F671-6B91-4EA4-B607-70EADBD3A537</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8BA81171-39AB-4BDA-894C-38C1DA19B6F9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7F7241C1-56A5-4474-9AD3-6F9D5965A07D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D9C62D31-9971-4D1D-95E7-88144E0EBA07</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9EF45247-C2E7-4835-8D12-6F8552FD8DE5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>63CCBC7B-9AC5-44A9-9B58-3EBF757EA04A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DDA4944C-EDE5-4345-AA67-1DC25C431BF0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7F7241C1-56A5-4474-9AD3-6F9D5965A07D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Nathan Jones</string>
	<key>description</key>
	<string>Search and connect to AWS SSM Instances</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>AWS SSM Connect</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>ssm</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading Profiles</string>
				<key>script</key>
				<string>cat ~/.aws/credentials | grep -o '\[[^]]*\]' | sed 's/\[//g' | sed 's/\]//g' | jq -nR '{
    "items": [
        inputs |
        select(length&gt;0) |
        {
            "uid": .,
            "type": "file",
            "title": .,
            "arg": .
        }
    ]
}'</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Select a profile</string>
				<key>title</key>
				<string>AWS SSM Connect</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>9EF45247-C2E7-4835-8D12-6F8552FD8DE5</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>aws ssm start-session --target {query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>DC417B76-64D1-44DB-BFEE-A178745D19F5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading Instances</string>
				<key>script</key>
				<string>vars=$1
profile=$(echo $1 | cut -d' ' -f1)
instance=$(echo $1 | cut -d' ' -f2)

echo $instance

aws ec2 describe-instances --query 'Reservations[*].Instances[*].[InstanceId,Tags[?Key==`Name`].Value|[0],State.Name,PrivateIpAddress,PublicIpAddress]' --output json --profile $profile</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>list.py</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Select Instance</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>63CCBC7B-9AC5-44A9-9B58-3EBF757EA04A</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{var:split1}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>7F7241C1-56A5-4474-9AD3-6F9D5965A07D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:split1} copied to clipboard</string>
				<key>title</key>
				<string>Instance ID Copied</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>D9C62D31-9971-4D1D-95E7-88144E0EBA07</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string> </string>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>DDA4944C-EDE5-4345-AA67-1DC25C431BF0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading profiles</string>
				<key>script</key>
				<string>cat ~/.aws/credentials | grep -o '\[[^]]*\]' | sed 's/\[//g' | sed 's/\]//g' | jq -nR '{
    "items": [
        inputs |
        select(length&gt;0) |
        {
            "uid": .,
            "type": "file",
            "title": .,
            "arg": .
        }
    ]
}'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Select Profile</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>604229EE-D4C0-4DAC-A15D-9673F265AD22</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>AWS SSM Connect</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>3DA58D07-585D-466E-A8EC-600DEFC30CD5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>aws ssm start-session --profile {var:profile} --target {var:instance}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>8BA81171-39AB-4BDA-894C-38C1DA19B6F9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>profile</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>6A93F671-6B91-4EA4-B607-70EADBD3A537</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>instance</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>444C5272-40B4-4E31-BC81-89CFDE99A942</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>3DA58D07-585D-466E-A8EC-600DEFC30CD5</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
		<key>444C5272-40B4-4E31-BC81-89CFDE99A942</key>
		<dict>
			<key>xpos</key>
			<integer>185</integer>
			<key>ypos</key>
			<integer>480</integer>
		</dict>
		<key>604229EE-D4C0-4DAC-A15D-9673F265AD22</key>
		<dict>
			<key>xpos</key>
			<integer>255</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
		<key>63CCBC7B-9AC5-44A9-9B58-3EBF757EA04A</key>
		<dict>
			<key>xpos</key>
			<integer>245</integer>
			<key>ypos</key>
			<integer>35</integer>
		</dict>
		<key>6A93F671-6B91-4EA4-B607-70EADBD3A537</key>
		<dict>
			<key>xpos</key>
			<integer>405</integer>
			<key>ypos</key>
			<integer>480</integer>
		</dict>
		<key>7F7241C1-56A5-4474-9AD3-6F9D5965A07D</key>
		<dict>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>305</integer>
		</dict>
		<key>8BA81171-39AB-4BDA-894C-38C1DA19B6F9</key>
		<dict>
			<key>xpos</key>
			<integer>475</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
		<key>9EF45247-C2E7-4835-8D12-6F8552FD8DE5</key>
		<dict>
			<key>xpos</key>
			<integer>45</integer>
			<key>ypos</key>
			<integer>35</integer>
		</dict>
		<key>D9C62D31-9971-4D1D-95E7-88144E0EBA07</key>
		<dict>
			<key>xpos</key>
			<integer>660</integer>
			<key>ypos</key>
			<integer>305</integer>
		</dict>
		<key>DC417B76-64D1-44DB-BFEE-A178745D19F5</key>
		<dict>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>35</integer>
		</dict>
		<key>DDA4944C-EDE5-4345-AA67-1DC25C431BF0</key>
		<dict>
			<key>xpos</key>
			<integer>425</integer>
			<key>ypos</key>
			<integer>335</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>aws_location</key>
		<string>/usr/local/bin/aws</string>
		<key>cache_timeout_hours</key>
		<string>12</string>
	</dict>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://github.com/nathan-jones/alfred-ssm-connect</string>
</dict>
</plist>
